#didnt specify specific versions to allow for flexibility and to prevent conflicts
langchain
langchain-core
langchain-community
langchain-groq
langgraph
chromadb
sentence-transformers
openai
ragas
datasets
rank_bm25
faker
transformers
torch
streamlit
plotly
pandas
python-dotenv
pydantic
httpx
tenacity
loguru
rich
jupyter
ipykernel
chainlit
groq
langchain-openai